export(plot_netassoc_network, make_netassoc_network, partial_correlation, plot_netassoc_matrix, pairwise_association)
import(igraph)
importFrom(rags2ridges, optPenalty.LOOCVauto)
importFrom(corpcor, decompose.invcov)
importFrom(corpcor, invcov.shrink)
importFrom(vegan, permatfull)
importFrom(huge, huge)
importFrom(huge, huge.select)
import(infotheo)
  importFrom("grDevices", "colorRampPalette", "gray", "rgb")
  importFrom("graphics", "box", "image", "plot", "title")
  importFrom("stats", "cor", "cov", "na.omit", "p.adjust", "sd")