export(plotnetassoc, makenetwork, getpcor)
import(igraph)
importFrom(rags2ridges, optPenalty.aLOOCV)
importFrom(corpcor, decompose.invcov)
importFrom(corpcor, invcov.shrink)
importFrom(vegan, permatfull)
importFrom(huge, huge)
importFrom(huge, huge.select)